.QuizList{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, rgba(27,29,20,1) 0%, rgba(41,70,38,1) 32%, rgba(64,89,92,1) 64%, rgba(85,89,135,1) 100%);    h1{
        color: #fff;
        font-size: 30px;
        text-align: center;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        
        margin-bottom: 20px;
    }
    a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        &:hover{
            border-bottom: 1px solid #fff;
        }
    }
}